In [137]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_24542958374148aa994c55e7889e4020 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='YjPw1N8bn2cz1OLDJowqbdjOz2efGpcOjyDbb0l51x6C',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_24542958374148aa994c55e7889e4020.get_object(Bucket='capstoneproject-donotdelete-pr-bfv1i2akpy0enj',Key='311_Service_Requests_from_2010_to_Present_min.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()


# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_1 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-0dd0db83-22df-4e7a-a148-23ab88e46f73',
    'IBM_API_KEY_ID': 'YjPw1N8bn2cz1OLDJowqbdjOz2efGpcOjyDbb0l51x6C',
    'ENDPOINT': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'capstoneproject-donotdelete-pr-bfv1i2akpy0enj',
    'FILE': '311_Service_Requests_from_2010_to_Present_min.csv'
}

In [138]:

body = client_24542958374148aa994c55e7889e4020.get_object(Bucket='capstoneproject-donotdelete-pr-bfv1i2akpy0enj',Key='SI_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_7 = pd.read_csv(body)
df_data_7.head()
body = client_24542958374148aa994c55e7889e4020.get_object(Bucket='capstoneproject-donotdelete-pr-bfv1i2akpy0enj',Key='QN_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_6 = pd.read_csv(body)
df_data_6.head()
body = client_24542958374148aa994c55e7889e4020.get_object(Bucket='capstoneproject-donotdelete-pr-bfv1i2akpy0enj',Key='MN_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_5 = pd.read_csv(body)
df_data_5.head()
body = client_24542958374148aa994c55e7889e4020.get_object(Bucket='capstoneproject-donotdelete-pr-bfv1i2akpy0enj',Key='BX_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_4 = pd.read_csv(body)
df_data_4.head()
body = client_24542958374148aa994c55e7889e4020.get_object(Bucket='capstoneproject-donotdelete-pr-bfv1i2akpy0enj',Key='BK_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head()
df_data_1.head()
body = client_24542958374148aa994c55e7889e4020.get_object(Bucket='capstoneproject-donotdelete-pr-bfv1i2akpy0enj',Key='311_Service_Requests_from_2010_to_Present_min.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,24,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (20,23,24,26,64) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,0,45531130,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,1,45529784,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,2,45527528,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,4,45528814,02/02/2020 01:59:44 PM,NaN,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

In [5]:
# convert char to date
df_data_1['Created Date'] = pd.to_datetime(df_data_1['Created Date'], infer_datetime_format=True)
df_data_1['Created Date'].min()
df_data_1['Created Date'].max()

Timestamp('2020-02-02 23:58:57')

In [139]:
# count nulls
df_data_1['Incident Address'].isnull().sum()

52825

In [140]:
# unique counts
df_data_1[df_data_1.Borough=='BRONX']['Incident Zip'].nunique()
df_data_1[df_data_1.Borough=='QUEENS']['Incident Zip'].nunique()

63

In [142]:
# grouped unique counts
df_data_1.groupby('Borough')['Incident Zip'].nunique()

Borough
BRONX             26
BROOKLYN          40
MANHATTAN         62
QUEENS            63
STATEN ISLAND     12
Unspecified      180
Name: Incident Zip, dtype: int64

In [143]:
# Module 2
print(df_data_1.shape)
print(df_data_1.count())

(6019843, 16)
Unnamed: 0                6019843
Unique Key                6019843
Created Date              6019843
Closed Date               5893186
Complaint Type            6019843
Location Type             5967019
Incident Zip              5939146
Incident Address          5967018
Street Name               5967018
Address Type              5935078
City                      5939569
Status                    6019843
Resolution Description    6012017
Borough                   6019843
Latitude                  5939172
Longitude                 5939172
dtype: int64

In [144]:
df_data_1['Complaint Type'].nunique()

df_data_1[df_data_1['Complaint Type']=="ELEVATOR"].count()

df_data_1.groupby(df_data_1['Complaint Type'].str.upper())['Complaint Type'].count()

Complaint Type
AGENCY                          9
APPLIANCE                  112835
CONSTRUCTION                 5078
DOOR/WINDOW                205278
ELECTRIC                   307311
ELEVATOR                     6725
FLOORING/STAIRS            137402
GENERAL                    152471
GENERAL CONSTRUCTION       500863
HEAT/HOT WATER            1261574
HEATING                    887850
HPD LITERATURE REQUEST      52824
MOLD                            1
NONCONST                   260890
OUTSIDE BUILDING             7148
PAINT - PLASTER            361257
PAINT/PLASTER              346438
PLUMBING                   711141
SAFETY                      51953
STRUCTURAL                     16
UNSANITARY CONDITION       457142
VACANT APARTMENT                6
WATER LEAK                 193631
Name: Complaint Type, dtype: int64

In [145]:
# filter count >800,000

# counts
df_ct = df_data_1.groupby(df_data_1['Complaint Type'].str.upper())['Complaint Type'].count().sort_values( ascending=False)
# filter
x = df_ct>=800000
#filtered count
df_ct[x]

Complaint Type
HEAT/HOT WATER    1261574
HEATING            887850
Name: Complaint Type, dtype: int64

In [163]:
# Module 4

# HEAT/HOT WATER
# HEATING

df_hh = df_data_1[(df_data_1['Complaint Type']=='HEATING') | (df_data_1['Complaint Type']=='HEAT/HOT WATER')]

df_hh.groupby(df_data_1['Borough'].str.upper())['Borough'].count().sort_values( ascending=False)

Borough
BRONX            606133
BROOKLYN         574845
MANHATTAN        423039
UNSPECIFIED      282917
QUEENS           244122
STATEN ISLAND     18368
Name: Borough, dtype: int64

In [164]:
df_hh.groupby(df_data_1['Incident Zip'])['Incident Zip'].count().sort_values( ascending=False)

Incident Zip
11226.0    69041
10467.0    66073
10458.0    65372
10468.0    58190
10453.0    57818
           ...
10103.0        1
10112.0        1
10121.0        1
10129.0        1
12345.0        1
Name: Incident Zip, Length: 193, dtype: int64

In [166]:
add='89-21 Elmhurst Avenue'

df_hh.groupby(df_data_1['Incident Address'].str.upper())['Incident Address'].count().sort_values( ascending=False)

Incident Address
34 ARDEN STREET             13858
89-21 ELMHURST AVENUE       11548
3810 BAILEY AVENUE           7115
1025 BOYNTON AVENUE          5785
9511 SHORE ROAD              5006
                            ...
1679 WILLIAMSBRIDGE ROAD        1
400 WILLOUGHBY AVENUE           1
400 WOODBINE STREET             1
4000 BOSTON ROAD                1
UNKNOWN                         1
Name: Incident Address, Length: 136949, dtype: int64

In [171]:
df_hh[df_hh['Closed Date'].notna()].count()

Unnamed: 0                2133429
Unique Key                2133429
Created Date              2133429
Closed Date               2133429
Complaint Type            2133429
Location Type             2133429
Incident Zip              2114628
Incident Address          2133428
Street Name               2133428
Address Type              2115637
City                      2114771
Status                    2133429
Resolution Description    2133429
Borough                   2133429
Latitude                  2114632
Longitude                 2114632
dtype: int64

In [189]:
# Module 4

df_data_3.columns

df_3 = df_data_3[['Address', 'BldgArea', 'BldgDepth', 'BuiltFAR', 'CommFAR', 'FacilFAR', 'Lot', 'LotArea', 'LotDepth', 'NumBldgs', 'NumFloors',
          'OfficeArea', 'ResArea', 'ResidFAR', 'RetailArea', 'YearBuilt', 'YearAlter1', 'ZipCode', 'YCoord',  'XCoord']]

df_3.sort_values('YearBuilt', ascending=False).head()

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord
149642,1733 49 STREET,7392,75.0,1.80,0.0,2.0,58,4107,100.17,1,3.0,0,7392,1.25,0,2018,0,11204.0,168499.0,989259.0
25862,575 4 AVENUE,85862,105.0,4.93,0.0,6.0,5,17421,105.33,12,11.0,0,81645,6.00,4217,2018,0,11215.0,181717.0,986441.0
192461,977 EAST 7 STREET,5436,76.0,0.94,0.0,1.0,58,5784,120.50,2,2.0,0,5436,1.02,0,2018,0,11230.0,167818.0,992763.0
192838,932 EAST 8 STREET,5135,42.0,0.85,0.0,1.0,10,6050,100.00,2,2.0,0,5135,1.02,0,2018,0,11230.0,167554.0,992954.0
48159,490 VAN BUREN STREET,7000,55.0,2.33,0.0,2.0,26,3000,100.00,3,4.0,0,7000,2.00,0,2018,2015,11221.0,191206.0,1003957.0